
body {
  width:940px;
  padding:20px;
}

header {
  text-align:center;
  background-color:lightblue;
  padding:20px;
  border-radius:50px;
}

footer {
  text-align:center;
  background-color:lightblue;
  padding:20px;
  border-radius:50px;
}

img {
  width:100%;
  height:300px;
  display:inline;
  border-radius:50px;
}

.img_lugares {
  width:50%;
  height:300px;
  display:inline;
  border-radius:10px;
}

hr {
  margin:50px 0;
  border-width:0;
  height:2px;
  color:red;
  background-color:red;
}

nav a{
  padding:0 20px
}

section div {
  background-color:lightgray;
  padding:20px;
  text-align:center;
  box-shadow: 10px 10px 5px #aaaaaa; 
  
}

a img {
  text-align:center;
  width:5%;
  height:5%;
  border-radius:10px;
}